/* Alignment of Flexboxes */

.aspectwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 177vh;
    aspect-ratio: 16/9;
    margin: auto;
    container-type: size;
    }

.container {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
}

.storycontent {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
    height:93%;    
}

.audiocontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: center;
    height:93%;    
}

.footer {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
    align-items: flex-start;
    height: 7%;  
}

.footeritem{
    width: stretch;
    font-size: 3.6cqw;
    color: rgba(211, 212, 235, 0.6);
    cursor: pointer;
}

.footeritem::selection{
    color: rgba(255, 255, 229, 0.75);
    background: none;
  }
  
  .footeritem:hover {
    color: rgba(211, 212, 235, 0.9);
    transition: 200ms;
  }

.storybox{
    flex: 7;
    height: 100%;
}

.storysaveload{
    display: flex;
    position: relative;
    margin-top: 0.5cqw;
}

.characterwrap{
    flex: 3;
    margin-left: 1%;
}

.characterbox{
    height: 78.5%;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.characterbox::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .characterbox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.audiobox{
    display: flex;
    width: 85cqw;
    height: 38cqw;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.audiobox::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .audiobox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.audioline{
    width:0;
    border-right: 0.1cqw solid rgba(219, 221, 229, 0.6);
    height: 35cqw;
    margin-top: 1.7vw;
}

.audiocontrol{
    width: 15cqw;
    margin-left: 1%;
}

.audiobar{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4cqw;
    margin-top: 1cqw;
    
}

.audiobuttonbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 15%;
    margin-right: 16%;
    justify-content: space-evenly;
    
}

.visualcontainer {
    display: flex;
    text-align: center;
    margin-right: 2%;
    justify-content: space-between;
}

.visualbox{
    display: flex;
    width: 80cqw;
    height: 52cqw;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

.visualcontrol{
    width: 20cqw;
    margin-left: 1%;
}

.visualbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    margin-top: 0.5cqw;
    
}

