.container {
    display: flex;
    
}

.headeritem{
    margin: 1%;
    width: stretch;
    justify-content: space-evenly
}

.storybox{
    height: 200px;
    width: 170px;
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: cover;
}