/* Styling of General Elements */

.aspectwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 176.6vh;
    aspect-ratio: 16/9;
    margin: auto;
    container-type: size;
    caret-color: transparent;
    }

.container {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
}

.footer {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
    align-items: flex-start;
    height: 7%;  
}

.footeritem{
    width: stretch;
    font-size: 3.6cqw;
    color: rgba(211, 212, 235, 0.6);
    cursor: pointer;
}

.footeritem::selection{
    color: rgba(255, 255, 229, 0.75);
    background: none;
  }
  
  .footeritem:hover {
    color: rgba(211, 212, 235, 0.9);
    transition: 200ms;
  }

.contextmenu{
    position:absolute;
    transition: 200ms;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #7D8897, #505864);
    border: solid #8A94A2;
    border-radius: 0.2cqw;
    display: flex;
    flex-direction: column;
}

.contextmenuitem{
    all:unset;
    color: #B1B5C7; /*same as character button text (R:219, G:221, B:229)*/
    font-size: 1.2cqw;
    padding: 0.3cqw;
    border-radius: 0.2cqw;
    transition: 200ms;
    width:9.5cqw
}

.contextmenuitem:hover{
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

/* Story Styling */

.storybox{
    flex: 7;
    height: 52.3cqw;
}

.storyloadwrapper{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0.4cqw;
    margin-right: 2cqw;
}

.storycontent {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
    height:93%;  
}

.playercontent {
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: space-between;
    height:93%;  
    margin-top: 1cqw;
}

.characterwrap{
    flex: 3;
    margin-left: 1%;
}

.characterbox{
    height: 78.5%;
    overflow-y: scroll;
    padding-bottom: 0.5cqw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.characterbox::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .characterbox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.storyslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 52.5cqw;
    width: 100%;
    caret-color: rgba(211, 212, 235, 0.6);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.frontslab{
    position: absolute;
    background-image: url("../image/Stone_Story_Frame_Front.png");
    background-size: 100% 100%;
    height: 52.5cqw;
    width: 67.2cqw;
    z-index: 1;
    pointer-events: none;
}

.frontslabshort{
    position: absolute;
    background-image: url("../image/Stone_Story_Frame_Front.png");
    background-size: 100% 100%;
    height: 45.1cqw;
    width: 67.2cqw;
    z-index: 1;
    margin-bottom: -45.0cqw;
    pointer-events: none;
}

.titlewrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 2.95cqw;
}

.titleloadwrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 2.87cqw;
}

.storytitle{
    all: unset;
    font-family: 'Etrylian';
    position: relative;
    font-size: 1.7cqw;
    height: 1.9cqw;
    width: 32cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.75);
}

.storytitle::selection{
    background: none;
    color: rgba(255, 255, 229, 0.9);
}

.loadtitle{
    position: relative;
    top: 2.45cqw;
    font-size: 1.6cqw;
    height: 4.2%;
    margin-bottom: 0.5cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.75);
}

.loadtitle::selection{
    background: none;
    color: rgba(255, 255, 229, 0.9);
}

.storytitle:focus{
    outline: none;
}

.charpcbutton{
    font-size: 1.5cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.65);
    margin-left: 26%;
    cursor: pointer;
}

.charpcbutton::selection{
    background: none;
    color: rgba(255, 255, 229, 0.8);
}

.charpcbutton:hover{
    color: rgba(219, 221, 229, 0.8);
    transition: 200ms;
}

.charnpcbutton{
    font-size: 1.5cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.65);
    margin-left: 17%;
    cursor: pointer;
}

.charnpcbutton::selection{
    background: none;
    color: rgba(255, 255, 229, 0.8);
}

.charnpcbutton:hover{
    color: rgba(219, 221, 229, 0.8);
    transition: 200ms;
}

.storysave{
    font-size: 1.8cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.65);
    margin-top: 0.1cqw;
    cursor: pointer;
    margin-right: 30%;
}

.storysave::selection{
    background: none;
    color: rgba(255, 255, 229, 0.8);
}

.storysave:hover{
    color: rgba(219, 221, 229, 0.8);
    transition: 200ms;
}

.storyload{
    font-size: 1.8cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.65);
    margin-left: 5%;
    margin-top: 0.1cqw;
    cursor: pointer;
}

.storyload::selection{
    background: none;
    color: rgba(255, 255, 229, 0.8);
}

.storyload:hover{
    color: rgba(219, 221, 229, 0.8);
    transition: 200ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.editorchar [class*=ProseMirror]::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .editorchar [class*=ProseMirror] {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.editorchar [class*=ProseMirror] {
  width: 77.7%;
  height: 28.2cqw;
  overflow-y: scroll;
  font-size: 1.65cqw;
  line-height: 105%;
  margin-left: 10.5%;
  text-align: justify;
  color: rgba(219, 221, 229, 0.45);
}

.editorchar [class*=ProseMirror]:focus {
    outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.editorstory [class*=ProseMirror]::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .editorstory [class*=ProseMirror] {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


.editorstory [class*=ProseMirror] {
    width: 77.7%;
    height: 43.3cqw;
    overflow-y: scroll;
    font-size: 1.65cqw;
    line-height: 105%;
    margin-top: 3.0cqw;
    margin-left: 10.5%;
    text-align: justify;
    color: rgba(219, 221, 229, 0.45);
    z-index: 0;
}

.editorstory [class*=ProseMirror]:focus {
    outline: none;
}

.charslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 45cqw;
    width: 100%;
    caret-color: rgba(211, 212, 235, 0.6);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.charexternal{
    height: 45cqw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.charexternaltext{
    font-size: 3cqw;
    text-align: center;
    margin-top: 15cqw;
}

.charexternalinput{
    all:unset;
    margin: 3cqw;
    font-size: 3cqw;
    text-align: center;
    border-color: rgba(219, 221, 229, 0.8);
    border-bottom: solid;
    caret-color: rgba(211, 212, 235, 0.6);
}

.charexternalframe{
    margin-top: 1.8cqw;
    margin-left: 1.5cqw;
    width: 64.4cqw;
    height: 42.0cqw;
    border: solid;
}

.charactergroupwrapper{
    display: flex;
    position: relative;
    margin-top: 0.5cqw;
}

.namewrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 2.45cqw;
    caret-color: rgba(211, 212, 235, 0.6);
}

.charname{
    all: unset;
    position: relative;
    font-size: 1.6cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.75);
}

.charname::selection{
    color: rgba(255, 255, 229, 0.9);
    background: none;
}

.charslabhprow{
    display: flex;
    position: relative;
    left: 13.5%;
    top: 7.8%;
    flex-direction: row;
    width: 72%;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatrow{
    display: flex;
    position: relative;
    left: 10.5%;
    top: 8.5%;
    flex-direction: row;
    width: 77%;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatwrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.charslabac{
    font-size: 2.3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
}

.charslabac::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

/* Chrome, Safari, Edge, Opera */
.charslabacvalue::-webkit-outer-spin-button,
.charslabacvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabacvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabacvalue{
    all: unset;
    width: 14%;
    font-size: 2.3cqw;
    text-align: left;
    margin-left: 0.5%;
    color: rgba(219, 221, 229, 0.45);
    caret-color: rgba(211, 212, 235, 0.6);
}

.charslabacvalue::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

/* Chrome, Safari, Edge, Opera */
.charslabhpvalue::-webkit-outer-spin-button,
.charslabhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabhpvalue{
    all:unset;
    font-size: 3.2cqw;
    color: rgba(219, 221, 229, 0.45);
    margin-left: 2%;
    width:32%;
    text-align: right;
    caret-color: rgba(211, 212, 235, 0.6);
}

.charslabhpvalue::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

/* Chrome, Safari, Edge, Opera */
.charslabmaxhpvalue::-webkit-outer-spin-button,
.charslabmaxhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabmaxhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabmaxhpvalue{
    all:unset;
    font-size: 3.2cqw;
    color: rgba(219, 221, 229, 0.45);
    width: 32%;
    text-align: left;
    caret-color: rgba(211, 212, 235, 0.6);
}

.charslabmaxhpvalue::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.charslabhp{
    font-size: 3.2cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
}

.charlabhp::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

/* Chrome, Safari, Edge, Opera */
.charslabstatvalue::-webkit-outer-spin-button,
.charslabstatvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabstatvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabstatvalue{
    all:unset;
    width: 22%;
    font-size: 2cqw;
    text-align: left;
    margin-left: 4%;
    color: rgba(219, 221, 229, 0.45);
    caret-color: rgba(211, 212, 235, 0.6);
}

.charslabstatvalue::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.charslabstat{
    font-size: 2cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
}

.charslabstat::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.charslabline{
    height: 0;
    border-bottom: 0.7px solid rgba(219, 221, 229, 0.45);
    width: 30%;
    margin-left: 35%;
    margin-top: 7.2%;
}

.charlabline::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.charslabbuttonwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 61cqw;
    margin-left: 3cqw;
    height: 10cqw;
}

.charslabbutton{
    font-size: 2.1cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 0.7cqw;
    width: 18cqw;
    height: 4.7cqw;
    padding-top:1.1cqw;
}



.charslabbutton::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.charslabbutton:hover{
    opacity: 0.9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.charoptionwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .charoptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.charoptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top:2.5cqw;
    height: 36.9cqw;
    margin-bottom: 3.5cqw;
}

.charoption{
    position: relative;
    top: 0.5cqw;
    left: 9.3%;
    width: 80%;
    font-size: 2cqw;
    padding-left: 11%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: justify;
    color: rgba(219, 221, 229, 0.45);
    cursor: pointer;
}

.charoption::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.charoption:hover{
    color: rgba(219, 221, 229, 0.75);
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.storyoptionwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .storyoptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.storyoptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top:3.1cqw;
    height: 43.2cqw;
    margin-bottom: 0.3cqw;
}

.storyoption{
    position: relative;
    top: 1.5cqw;
    left: 9.3%;
    width: 80%;
    font-size: 2cqw;
    padding-left: 11%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: justify;
    color: rgba(219, 221, 229, 0.45);
    cursor: pointer;
}

.storyoption::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.storyoption:hover{
    color: rgba(219, 221, 229, 0.75);
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

.loadcharbuttonwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 61cqw;
    margin-left: 3cqw;
    margin-top: 0.5cqw;
    margin-bottom: 1cqw;
    height: 6cqw;
}

.loadslabbutton{
    font-size: 2.1cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 0.7cqw;
    width: 14cqw;
    height: 4.2cqw;
    padding-top:0.8cqw;
}

.loadslabbutton::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.loadslabbutton:hover{
    opacity: 0.9;
}

.longerloadslabbutton{
    font-size: 2.1cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 0.5cqw;
    width: 20cqw;
    height: 4.5cqw;
    padding-top:1cqw;
}

.longerloadslabbutton::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.longerloadslabbutton:hover{
    opacity: 0.9;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.initiativevertwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .initiativevertwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.initiativevertwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top:2.4cqw;
    padding-top: 2cqw;
    height: 36.9cqw;
    margin-bottom: 3.8cqw;
}

.initiativehorwrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 40cqw;
    margin-left: 7cqw;
}

.initname{
    position: relative;
    width: 28cqw;
    font-size: 2cqw;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: right;
    color: rgba(219, 221, 229, 0.45);
}

/* Chrome, Safari, Edge, Opera */
.initvalue::-webkit-outer-spin-button,
.initvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.initvalue[type=number] {
  -moz-appearance: textfield;
}

.initvalue{
    all:unset;
    position: relative;
    width: 2cqw;
    height: 2.1cqw;
    font-size: 2cqw;
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
    cursor: pointer;
    /* border-bottom: solid rgba(219, 221, 229, 0.45); */
    border-bottom: solid rgba(219, 221, 229, 0.45);
    caret-color: rgba(211, 212, 235, 0.6);
}

.initvalue::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.initvalue:hover{
    color: rgba(219, 221, 229, 0.75);
    transition: 200ms;
}

.characterbutton{
    all: unset;
    display: flex;
    justify-content:space-around;
    background-image: url("../image/Character_Button_Flat.png");
    background-size: 100% 100%;
    margin-top: 2.2%;
    padding-top: 1%;
    opacity: 0.72;
    width: 100%;
    aspect-ratio: 4/1;
    cursor: pointer;
}

.characterbutton:hover{
    opacity: 0.93;
    transition: 200ms;
}

.currentcharacterbutton{
    all: unset;
    display: flex;
    justify-content:space-around;
    background-image: url("../image/Character_Button_Flat.png");
    background-size: 100% 100%;
    margin-top: 2.2%;
    padding-top: 1%;
    opacity: 0.93;
    width: 100%;
    aspect-ratio: 4/1;
    cursor: pointer;
}

.currentcharacterbutton:hover{
    opacity: 1;
    transition: 200ms;
}

.playerbutton{
    all: unset;
    display: flex;
    justify-content:space-around;
    background-image: url("../image/Character_Button_Flat.png");
    background-size: 100% 100%;
    opacity: 0.75;
    padding-top: 1%;
    width: 100%;
    aspect-ratio: 4/1;
    cursor: pointer;
}

.playerbutton:hover{
    opacity: 0.93;
    transition: 200ms;
}

.playerbox{
    height: 7.7cqw;
    margin-top: 2.2%;
}

.characterbuttoncolumn{
    display: flex;
    flex-direction: column;
    width: 98%;
}

.characterbuttonrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 2%;
}

.charactername{
    flex: 3.2;
    font-size: 3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
}

.charactername::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.characterhealth{
    font-size: 2.6cqw;
    margin-top: 10%;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
}

.characterhealth::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.characterhealthlabel{
    font-size: 0.9cqw;
    text-align: center;
    margin-top: 13%;
    margin-left: 4%;
    color: rgba(219, 221, 229, 1.0);
}

.characterhealthlabel::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.characterhealthwrap{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 1%;
}

.characterstatwrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.characterstatlabel{
    font-size: 1.3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    margin-top: -0.3cqw;
}

.characterstatlabel::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.characterstatvalue{
    font-size: 1.7cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    margin-top: -0.3cqw;
}

.characterstatvalue::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.charactersavecolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9.5cqw;
}

.charactersaverow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.characteroptionbutton{
    font-size: 1.8cqw;
    text-align: center;
    color: rgba(219, 221, 229, 1.0);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 3.5%;
    width: 49%;
    height: 3.7cqw;
    padding-top:3%;
    cursor: pointer;
}

.characteroptionbutton::selection{
    color: rgba(255, 255, 229, 1);
    background: none;
}

.characteroptionbutton:hover{
    opacity: 0.9;
    transition: 200ms;
}

.newcharname{
    all:unset;
    width: 26cqw;
    font-size: 2cqw;
    height: 3cqw;
    border-bottom: solid;
    margin-top: 0.8cqw;
    margin-left: 1.5cqw;
    text-align: center;
    caret-color: rgba(211, 212, 235, 0.6);
}

.newcharname::selection{
    color: rgba(255, 255, 229, 0.9);
    background: none;
}

.characterline{
    width:27.7cqw;
    border-bottom: 0.1cqw solid rgba(219, 221, 229, 0.6);
    height: 0cqw;
    margin-top: 0.5cqw;
    margin-left: 0.7cqw;
}

/* Audio Styling */

.audiocontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 1%;
    margin-right: 2%;
    justify-content: center;
    height:52.3cqw;  
}

.audiobox{
    display: flex;
    width: 85cqw;
    height: 38cqw;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    overflow-y: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.audiobox::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .audiobox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.audioline{
    width:0;
    border-right: 0.1cqw solid rgba(219, 221, 229, 0.6);
    height: 35cqw;
    margin-top: 1.7vw;
}

.audiocontrol{
    width: 15cqw;
    margin-left: 1%;
    font-size: 4cqw;
}

.audiobar{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4cqw;
    margin-top: 1cqw;
    
}

.audiobuttonbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 15%;
    margin-right: 16%;
    justify-content: space-evenly;
}

.audiobutton{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.6cqw;
    color: rgba(219, 221, 229, 0.9);
    margin: 0.2cqw;
    opacity: 0.85;
    height: 6cqw;
    width: 19cqw;
    background-image: url("../image/Audio_Button_Block.png");
    background-size: 100% 100%;
}

.audiobutton:hover{
    opacity: 1;
    transition: 200ms;
}

.audiocontrolbutton{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.6cqw;
    color: rgba(219, 221, 229, 0.9);
    margin-top: 0.2cqw;
    opacity: 0.85;
    height: 5cqw;
    width: 17cqw;
    background-image: url("../image/Audio_Button.png");
    background-size: 100% 100%;
}

.audiocontrolbutton:hover{
    opacity: 1;
    transition: 200ms;
}

.audiocontrolspacer{
    height: 5.3cqw;
}

.newaudiolayout{
    all:unset;
    width: 15cqw;
    font-size: 2cqw;
    height: 3cqw;
    border-bottom: solid;
    margin-top: 0.2cqw;
    margin-bottom: 0.7cqw;
    margin-left: 1cqw;
    text-align: center;
    caret-color: rgba(211, 212, 235, 0.6);
}

.newaudiolayout::selection{
    color: rgba(255, 255, 229, 0.9);
    background: none;
}

.audioplay{
    all:unset;
    height: 6cqw;
    width: 6cqw;
    background-image: url("../image/Play_Stone.png");
    background-size: 100% 100%;
    opacity: 0.75;
}

.audioplay:hover{
    opacity: 0.9;
    transition: 200ms;
}

.audiostop{
    all:unset;
    height: 6cqw;
    width: 6cqw;
    background-image: url("../image/Stop_Stone.png");
    background-size: 100% 100%;
    opacity: 0.75;
}

.audiostop:hover{
    opacity: 0.9;
    transition: 200ms;
}

.audiopause{
    all:unset;
    height: 6cqw;
    width: 6cqw;
    background-image: url("../image/Pause_Stone.png");
    background-size: 100% 100%;
    opacity: 0.75;
}

.audiopause:hover{
    opacity: 0.9;
    transition: 200ms;
}

.audionavigation{
    width: 58cqw;
}

.audionavbar{
    min-width: 100%;
    background-color: rgba(219, 221, 229, 0.5);
    height: 0.4cqw;
    border-radius: 0.2cqw;
    cursor: pointer;
}

.audioprog{
    width:0;
    height: 100%;
    background-color: rgba(219, 221, 229, 1);
    border-radius: 0.2cqw;
}

.audiovolume{
    width: 11cqw;
    margin-left: 1cqw;
}

.audiovolumebar{
    min-width: 100%;
    background-color: rgba(219, 221, 229, 0.5);
    height: 1.2cqw;
    border-radius: 0.6cqw;
    cursor: pointer;
}

.audiocurrentvolume{
    width:0;
    height: 100%;
    background-color: rgba(219, 221, 229, 1);
    border-radius: 0.6cqw;
}

.playtime{
    display: flex;
    font-size: 2.5cqw;
    width: 17.7cqw;
    text-align: left;
    margin-left: 0.7cqw;
}

.volumenumber{
    font-size: 2.5cqw;
    width: 3.5cqw;
    text-align: left;
    margin-left: 0.5cqw;
}

.playhour{
    text-align: right;
    width: 2.2cqw;
    margin-right: 0.2cqw;
}

.playmin{
    text-align: center;
    width: 2.4cqw;
}

.playsec{
    text-align: left;
    width: 2.4cqw;
    margin-left: 0.1cqw;
}

.newaudiolist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3cqw;
}

.newaudioentry{
    display: flex;
    justify-content: left;
    margin-top: 2cqw;
    margin-left: 5cqw;
}

.newaudioname{
    font-size: 3cqw;
    width: 14cqw;
    text-align: right;
}

.newaudioinput{
    all:unset;
    margin-left: 0.5cqw;
    width: 40cqw;
    font-size: 3cqw;
    height: 3cqw;
    border-bottom: solid;
    margin-left: 2cqw;
    text-align: left;
    caret-color: rgba(211, 212, 235, 0.6);
}

.newaudiobutton{
    all:unset;
    width: 10cqw;
    height: 5cqw;
    margin-top: 4cqw;
    font-size: 2.4cqw;
    align-self: flex-end;
    margin-right: 11cqw;
    background-image: url("../image/Audio_Button.png");
    background-size: 100% 100%;
    color: rgba(219, 221, 229, 0.8);
    opacity: 0.85;
    transition: 200ms;
}

.newaudiobutton:hover{
    opacity: 1;
    transition: 200ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.audiooptionwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .audiooptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.audiooptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 29cqw;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.layoutoptionwrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .layoutoptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.layoutoptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 30.5cqw;
    width: 100%;
}

.audiooptionheaderwrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.audiooptionheader{
    font-size: 5cqw;
    color: rgba(219, 221, 229, 0.45);
    height: 5cqw;
    width: 23cqw;
    border-bottom: 0.15cqw solid rgba(219, 221, 229, 0.6);
    margin-bottom: 0.5cqw;
}

.audiooptionvalues{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    margin-top:0.7cqw;
    height: 2.5cqw;
    width: 100%;
    border-bottom: 0.1cqw solid rgba(219, 221, 229, 0.6);
    color: rgba(219, 221, 229, 0.45);
    font-size: 2cqw;
}

.audiooption{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 2cqw;
    text-align: justify;
    color: rgba(219, 221, 229, 0.45);
    cursor: pointer;
}

.audiooptionartist{
    width: 30cqw;
    border-left: 0.1cqw solid rgba(219, 221, 229, 0.6);
    padding: 0.5%;
}

.audiooptiontitle{
    width: 40cqw;
    margin-left: 1cqw;
    border-left: 0.1cqw solid rgba(219, 221, 229, 0.6);
    padding: 0.5%;
}

.layoutoptiontitle{
    width: 40cqw;
    margin-left: 1cqw;
    padding: 0.5%;
    padding-left: 3%;
}

.combatuiwrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 0.9cqw;
    border-bottom: solid;
    padding-right: 2cqw;
    padding-bottom: 0.5cqw;
}

.undercombatuiwrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 0.9cqw;
    padding-right: 2cqw;
    padding-bottom: 0.5cqw;
}

.combatanttitleuiwrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 4cqw;
    border-bottom: solid;
    padding-right: 2cqw;
    padding-bottom: 0cqw;
}

.combatantuiwrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2cqw;
    margin-right: 2cqw;
}


.viewertickboxdescription{
    width: 30cqw;
    margin-left: 0cqw;
    padding: 0.5%;
    padding-left: 3%;
    font-size: 2.5cqw;
    text-align: left;
}

.villaintickboxtitle{
    width: 30cqw;
    padding: 0.5%;
    padding-right: 2.8cqw;
    font-size: 2.5cqw;
    text-align: left;
    text-align: right;
}

.villainname{
    all:unset;
    font-size: 2.5cqw;
    padding-right: 2cqw;
    padding-left: 2cqw;
    margin-right: 0.5cqw;
    width: 30cqw;
    border: solid;
    text-align: right;
    caret-color: rgba(211, 212, 235, 0.6);
}

.villainname::selection{
    color: rgba(255, 255, 229, 0.9);
    background: none;
}

.viewertickbox{
border: 0.2cqw solid rgba(219, 221, 229, 0.4);
height: 2.5cqw;
width: 2.5cqw;
margin-top: 0.2cqw;
margin-right: 5cqw;
}


.audiooption::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.audiooption:hover{
    color: rgba(219, 221, 229, 0.75);
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

/* Visual Styling */

.visualcontainer {
    display: flex;
    text-align: center;
    margin-right: 2%;
    justify-content: space-between;
    height:52.3cqw;
}

.visualbox{
    display: flex;
    width: 80cqw;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.visualcontrol::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .visualcontrol {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.visualcontrol{
    width: 19cqw;
    height: 52cqw;
    margin-left: 1cqw;
    overflow-y: scroll;
}

.visualbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.5cqw;
    height: 5cqw;
}

.visualmain{
    display: flex;
    flex-direction: column;
    margin: 1cqw;
    height: 43.5cqw;
    width: 100%;
}

.visualmainimage{
    margin-top: 1cqw;
    margin-left: 2cqw;
    height: 41cqw;
    width: 72.5cqw;
}

.visualmainborder{
    margin-top: -42cqw;
    background-image: url('../image/Empty_Thin_Frame.png');
    background-size: 100% 100%; 
    z-index: 1;
    margin-left: 1cqw;
    width: 74.5cqw;
    height: 43cqw;
}

.visualside{
    margin-top: 1.5cqw;
    height: 11.6cqw;
    width: 100%;
    background-size: 100% 100%;
    opacity: 0.8;
}

.visualside:hover{
    opacity: 1;
    transition: 200ms;
}

.visualsideimage{
    margin-top: 1cqw;
    margin-left: 1cqw;
    height: 9.6cqw;
    width: 17cqw;
}

.visualsideborder{
    margin-top: -10.6cqw;
    z-index: 1;
    width: 19cqw;
    height: 11.6cqw;
} 

.visualcontrolbutton{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2.3cqw;
    color: rgba(219, 221, 229, 0.9);
    opacity: 0.85;
    height: 4.2cqw;
    width: 16cqw;
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
}

.visualcontrolbutton:hover{
    opacity: 1;
    transition: 200ms;
}

.newvisuallist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3cqw;
}

.newvisualentry{
    display: flex;
    justify-content: left;
    margin-top: 2cqw;
    margin-left: 5cqw;
}

.newvisualname{
    font-size: 3cqw;
    width: 14cqw;
    text-align: right;
}

.newvisualinput{
    all:unset;
    margin-left: 0.5cqw;
    width: 40cqw;
    font-size: 3cqw;
    height: 3cqw;
    border-bottom: solid;
    margin-left: 2cqw;
    text-align: left;
    caret-color: rgba(211, 212, 235, 0.6);
}

.newvisualbutton{
    all:unset;
    width: 10cqw;
    height: 5cqw;
    margin-top: 4cqw;
    font-size: 2.4cqw;
    align-self: flex-end;
    margin-right: 11cqw;
    background-image: url("../image/Audio_Button.png");
    background-size: 100% 100%;
    color: rgba(219, 221, 229, 0.8);
    opacity: 0.85;
    transition: 200ms;
}

.newvisualbutton:hover{
    opacity: 1;
    transition: 200ms;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.layoutoptionwrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .layoutoptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.layoutoptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 30.5cqw;
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.combatuioptionwrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .combatuioptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.combatuioptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 43.5cqw;
    width: 100%;
    border:solid
}

/* Hide scrollbar for Chrome, Safari and Opera */
.visualoptionwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .visualoptionwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.visualoptionwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 29cqw;
    width: 100%;
}

.visualoptionheaderwrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.visualoptionheader{
    font-size: 5cqw;
    color: rgba(219, 221, 229, 0.45);
    height: 5cqw;
    width: 26cqw;
    border-bottom: 0.15cqw solid rgba(219, 221, 229, 0.6);
    margin-bottom: 0.5cqw;
}

.layoutoptionheader{
    font-size: 5cqw;
    color: rgba(219, 221, 229, 0.45);
    height: 5cqw;
    width: 100%;
    margin-bottom: 0.5cqw;
    border-bottom: 0.15cqw solid rgba(219, 221, 229, 0.6);
    padding-bottom: 6cqw;
}

.visualoptionvalues{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    margin-top:0.7cqw;
    height: 2.5cqw;
    width: 100%;
    border-bottom: 0.1cqw solid rgba(219, 221, 229, 0.6);
    color: rgba(219, 221, 229, 0.45);
    font-size: 2cqw;
}

.visualoption{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 2cqw;
    text-align: justify;
    color: rgba(219, 221, 229, 0.45);
    cursor: pointer;
}

.visualoptiontitle{
    width: 30cqw;
    border-left: 0.1cqw solid rgba(219, 221, 229, 0.6);
    padding: 0.5%;
}

.visualoptiontag{
    width: 40cqw;
    margin-left: 1cqw;
    border-left: 0.1cqw solid rgba(219, 221, 229, 0.6);
    padding: 0.5%;
}

.visualoption::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

.visualoption:hover{
    color: rgba(219, 221, 229, 0.75);
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

.viewerwrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.vieweraspectwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 176.6vh;
    max-height: 56.25vw;
    aspect-ratio: 16/9;
    container-type: size;
    caret-color: transparent;
    }

.initiativewrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    margin-bottom: -5cqw;
    z-index: 2;
}

.baddiehpwrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    margin-top: auto;
    padding-top: 2cqw;
    padding-bottom: 3cqw;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,0.55) 40%);
}

.viewer{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.viewercurrentturn{
    position: relative;
    width:36cqw;
    height:12cqw;
    background-image: url("../image/Initiative_Button_Block.png");
    background-size: 100% 100%;
    margin-top: 2cqw;
    margin-left: 3cqw;
    color: rgba(255, 240, 235, 0.55);
    text-shadow: -0.1cqw 0 rgb(70, 70, 60, 0.6), 0 0.1cqw rgb(70, 70, 60, 0.6), 0.1cqw 0 rgb(70, 70, 60, 0.6), 0 -0.1cqw rgb(70, 70, 60, 0.6);
    text-align: center;
    padding-top: 3.2cqw;
    font-size: 5cqw;
    filter: drop-shadow(0cqw 0cqw 0.8cqw rgb(55, 55, 50));
}

.viewercurrentturnhalf{
    position: relative;
    width:36cqw;
    height:12cqw;
    background-image: url("../image/Initiative_Button_Block_Dark.png");
    background-size: 100% 100%;
    margin-top: 2cqw;
    margin-left: 3cqw;
    color: rgba(200, 190, 180, 0.45);
    text-shadow: -0.1cqw 0 rgb(40, 40, 35, 0.3), 0 0.1cqw rgb(40, 40, 35, 0.3), 0.1cqw 0 rgb(40, 40, 35, 0.3), 0 -0.1cqw rgb(40, 40, 35, 0.3);
    text-align: center;
    padding-top: 3.2cqw;
    font-size: 5cqw;
    filter: drop-shadow(0cqw 0cqw 0.8cqw rgb(55, 55, 50));
}

.viewerupcomingturn{
    position: relative;
    width:24cqw;
    height:8cqw;
    background-image: url("../image/Initiative_Button_Block.png");
    background-size: 100% 100%;
    margin-top: 0.9cqw;
    margin-left: 3cqw;
    color: rgba(255, 240, 235, 0.6);
    text-shadow: -0.1cqw 0 rgb(70, 70, 60, 0.6), 0 0.1cqw rgb(70, 70, 60, 0.6), 0.1cqw 0 rgb(70, 70, 60, 0.6), 0 -0.1cqw rgb(70, 70, 60, 0.6);
    text-align: center;
    padding-top: 2.4cqw;
    font-size: 3cqw;
    filter: drop-shadow(0cqw 0cqw 0.5cqw rgb(55, 55, 50));
}

.viewerupcomingturnhalf{
    position: relative;
    width:24cqw;
    height:8cqw;
    background-image: url("../image/Initiative_Button_Block_Dark.png");
    background-size: 100% 100%;
    margin-top: 0.9cqw;
    margin-left: 3cqw;
    color: rgba(200, 190, 180, 0.5);
    text-shadow: -0.1cqw 0 rgb(40, 40, 35, 0.3), 0 0.1cqw rgb(40, 40, 35, 0.3), 0.1cqw 0 rgb(40, 40, 35, 0.3), 0 -0.1cqw rgb(40, 40, 35, 0.3);
    text-align: center;
    padding-top: 2.4cqw;
    font-size: 3cqw;
    filter: drop-shadow(0cqw 0cqw 0.5cqw rgb(55, 55, 50));
}

.baddiename{
    position: relative;
    color: rgb(183, 177, 173);
    text-shadow: -0.1cqw 0 rgb(60, 57, 56), 0 0.1cqw rgb(60, 57, 56), 0.1cqw 0 rgb(60, 57, 56), 0 -0.1cqw rgb(60, 57, 56);
    font-size: 5cqw;
    height: 5cqw;
    width:100cqw;
    padding-right: 4.5cqw;
    text-align: right;
}

.totalhealth {
    position: relative;
    border: rgb(147, 140, 138) solid, 0.15cqw;
    width: 92cqw;
    margin-top: 1cqw;
    margin-left: 4cqw;
    height: 1cqw;
    background-color: black;
    box-shadow: 0cqw 0cqw 0.5cqw rgb(55, 55, 50);
    border-radius: 0.2cqw;
}

.baddiehealth {
    position: relative;
    width: 52cqw;
    margin-top: -1cqw;
    margin-left: 4cqw;
    height: 1cqw;
    background-color: rgb(160, 153, 148);
    box-shadow: -0.1cqw 0 rgb(60, 57, 56), 0 0.1cqw rgb(60, 57, 56), 0 -0.1cqw rgb(60, 57, 56);
    border-radius: 0.2cqw;
}

.newvisuallayout{
    all:unset;
    width: 34.6cqw;
    font-size: 3cqw;
    height: 3cqw;
    border-bottom: solid;
    margin-top: 0.5cqw;
    margin-left: 1cqw;
    text-align: center;
    caret-color: rgba(211, 212, 235, 0.6);
}

.newvisuallayout::selection{
    color: rgba(255, 255, 229, 0.9);
    background: none;
}

.resetbutton{
    position: relative;
    width:90cqw;
    height:40cqw;
    background-image: url("../image/Initiative_Button_Block_Red.png");
    background-size: 100% 100%;
    color: rgba(255, 200, 200, 0.4);
    text-align: center;
    padding-top: 8.6cqw;
    font-size: 20cqw;
    opacity: 0.9;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.resetbutton:hover{
    opacity: 1;
    transition: 200ms;
}

.resetaspectwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 176.6vh;
    max-height: 56.25vw;
    aspect-ratio: 16/9;
    container-type: size;
    caret-color: transparent;
    justify-content: center;
    align-items: center;
    }

    