@font-face {
    font-family: "Etrylian";
    src: url('../font/Etrylian.otf');
    src: url('../font/Etrylian.woff2') format('woff2'),
         url('../font/Etrylian.woff') format('woff'),
         url('../font/Etrylian.ttf') format('truetype');
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Etrylian', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.2;
  font-size: 4vw;
  background-color: #0D1215;
  color: #82859B;
}

div::selection{
    color: rgba(255, 255, 229, 0.6);
    background: none;
}

* {
  box-sizing: border-box;
}

a {
  color: rgba(211, 212, 235, 0.6);
  text-decoration: none;
}

a::selection{
  color: rgba(255, 255, 229, 0.75);
  background: none;
}

a:hover {
  color: rgba(211, 212, 235, 0.9);
  transition: 200ms;
}

img {
  max-width: 100%;
  display: block;
}