/* Design of Story Slab */

.storyslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 52vw;
    width: 100%;
}

.storytitle{
    all: unset;
    position: relative;
    top: 0.95vw;
    width: 52vw;
    font-size: 1.6vw;
    height: 1.7vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.5);
}

.storytitle:focus{
    outline: none;
}

.storytablettitle{
    position: relative;
    top: 4vw;
    left: 7vw;
    width: 52vw;
    font-size: 1.5vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.3);
    text-decoration: underline;
    font-weight: 600;
}

.storytablet{
    position: relative;
    top: 4vw;
    left: 7vw;
    width: 52vw;
    font-size: 1.5vw;
    text-align: justify;
    color: rgba(219, 221, 229, 0.3);
}

.storysave{
    font-size: 1.8vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
    margin-left: 19vw;
    transition: 200ms;
}

.storysave:hover{
    color: rgba(219, 221, 229, 0.75);
    transition: 200ms;
}

.storyload{
    font-size: 1.8vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
    margin-left: 21vw;
    transition: 200ms;
}

.storyload:hover{
    color: rgba(219, 221, 229, 0.75);
    transition: 200ms;
}

/* Design of Character Slab */

.charslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 45vw;
    width: 100%;
}

.charname{
    all: unset;
    position: relative;
    top: 0.4vw;
    width: 45vw;
    font-size: 1.5vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.5);
}

.charslabhprow{
    display: flex;
    position: relative;
    left: 9vw;
    top: 0.7vw;
    flex-direction: row;
    width: 48vw;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatrow{
    display: flex;
    position: relative;
    left: 7vw;
    top: 1.2vw;
    flex-direction: row;
    width: 52vw;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatwrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    width: 5vw;
}

.charslabac{
    font-size: 2.2vw;
    text-align: center;
    margin-left: 0.5vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
}

/* Chrome, Safari, Edge, Opera */
.charslabacvalue::-webkit-outer-spin-button,
.charslabacvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabacvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabacvalue{
    all: unset;
    width: 3.5vw;
    font-size: 2.2vw;
    text-align: left;
    margin-left: 0.5vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
}

/* Chrome, Safari, Edge, Opera */
.charslabhpvalue::-webkit-outer-spin-button,
.charslabhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabhpvalue{
    all:unset;
    font-size: 3.2vw;
    margin-left: 0.2vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
    width:4.5vw;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
.charslabmaxhpvalue::-webkit-outer-spin-button,
.charslabmaxhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabmaxhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabmaxhpvalue{
    all:unset;
    font-size: 3.2vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
    width: 4.5vw;
    text-align: left;
}

.charslabhp{
    font-size: 3.2vw;
    text-align: center;
    margin-left: 0.2vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
}

/* Chrome, Safari, Edge, Opera */
.charslabstatvalue::-webkit-outer-spin-button,
.charslabstatvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabstatvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabstatvalue{
    all:unset;
    width: 1.8vw;
    font-size: 1.9vw;
    text-align: left;
    margin-left: 0.5vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
}

.charslabstat{
    font-size: 1.9vw;
    text-align: center;
    margin-left: 0.5vw;
    color: rgba(219, 221, 229, 0.3);
    transition: 200ms;
}

.charslabline{
    height: 0;
    border-bottom: 0.2vw solid rgba(219, 221, 229, 0.3);
    width: 15vw;
    margin-left: 25.5vw;
    margin-top: 2.3vw;
}

.charoption{
    position: relative;
    top: 1.5vw;
    left: 7vw;
    width: 52vw;
    font-size: 2vw;
    padding-left: 6vw;
    text-align: justify;
    margin-top: 0.5vw;
    color: rgba(219, 221, 229, 0.3);
}

.charoption:hover{
    color: rgba(219, 221, 229, 0.5);
}

/* Design of Character Buttons */

.characterbutton{
    all: unset;
    display: flex;
    justify-content:space-around;
    background-image: url("../image/Character_Button_Flat.png");
    background-size: 100% 100%;
    margin-top: 0.6vw;
    padding-top: 0.2vw;
    opacity: 0.75;
    height: 7vw;
    transition: 200ms;
}

.characterbutton:hover{
    opacity: 0.9;
    transition: 200ms;
}


.characterbuttoncolumn{
    display: flex;
    flex-direction: column;
}

.characterbuttonrow{
    display: flex;
    flex-direction: row;
    width: 28.8vw;
    align-items: flex-start;
}

.charactername{
    flex:3;
    font-size: 2.8vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealth{
    font-size: 2.5vw;
    margin-top: 0.4vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealthlabel{
    font-size: 0.85vw;
    text-align: center;
    margin-top: 0.65vw;
    margin-left: 0.2vw;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealthwrap{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.characterstatwrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.characterstatlabel{
    font-size: 1.2vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    transition: 200ms;
    margin-top: -0.2vw;
}

.characterstatvalue{
    font-size: 1.7vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    transition: 200ms;
    margin-top: -0.3vw;
}

.charactersavecolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.charactersaverow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.charactersavebutton{
    font-size: 1.8vw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 0.9vw;
    transition: 200ms;
    width: 14.1vw;
    height: 3.7vw;
    padding-top:0.8vw;

}

.charactersavebutton:hover{
    opacity: 0.9;
    transition: 200ms;
}