/* Design of Story Slab */

.storyslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

.titlewrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 3cqw;
}

.storytitle{
    all: unset;
    font-family: 'Etrylian';
    position: relative;
    font-size: 1.7cqw;
    height: 1.9cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.5);
}

.loadtitle{
    position: relative;
    padding-top: 5.2cqh;
    font-size: 1.7cqw;
    height: 4.2%;
    text-align: center;
    color: rgba(219, 221, 229, 0.5);
}

.storytitle:focus{
    outline: none;
}

.storysave{
    font-size: 1.9cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
    margin-left: 29%;
}

.storysave:hover{
    color: rgba(219, 221, 229, 0.75);
    transition: 200ms;
}

.storyload{
    font-size: 1.9cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.45);
    margin-left: 29%;
}

.storyload:hover{
    color: rgba(219, 221, 229, 0.75);
    transition: 200ms;
}

/* Design of Character Slab */

.charslab{
    background-image: url("../image/Stone_Story_Frame.png");
    background-size: 100% 100%;
    height: 87%;
    width: 100%;
}

.namewrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 2.45cqw;
}

.charname{
    all: unset;
    position: relative;
    font-size: 1.6cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.5);
}

.charslabhprow{
    display: flex;
    position: relative;
    left: 13.5%;
    top: 7.8%;
    flex-direction: row;
    width: 72%;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatrow{
    display: flex;
    position: relative;
    left: 10.5%;
    top: 8.5%;
    flex-direction: row;
    width: 77%;
    align-items: flex-end;
    justify-content:space-between;
}

.charslabstatwrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.charslabac{
    font-size: 2.3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.3);
}

/* Chrome, Safari, Edge, Opera */
.charslabacvalue::-webkit-outer-spin-button,
.charslabacvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabacvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabacvalue{
    all: unset;
    width: 14%;
    font-size: 2.3cqw;
    text-align: left;
    margin-left: 0.5%;
    color: rgba(219, 221, 229, 0.3);
}

/* Chrome, Safari, Edge, Opera */
.charslabhpvalue::-webkit-outer-spin-button,
.charslabhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabhpvalue{
    all:unset;
    font-size: 3.2cqw;
    color: rgba(219, 221, 229, 0.3);
    margin-left: 2%;
    width:32%;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
.charslabmaxhpvalue::-webkit-outer-spin-button,
.charslabmaxhpvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabmaxhpvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabmaxhpvalue{
    all:unset;
    font-size: 3.2cqw;
    color: rgba(219, 221, 229, 0.3);
    width: 32%;
    text-align: left;
}

.charslabhp{
    font-size: 3.2cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.3);
}

/* Chrome, Safari, Edge, Opera */
.charslabstatvalue::-webkit-outer-spin-button,
.charslabstatvalue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.charslabstatvalue[type=number] {
  -moz-appearance: textfield;
}

.charslabstatvalue{
    all:unset;
    width: 22%;
    font-size: 2cqw;
    text-align: left;
    margin-left: 4%;
    color: rgba(219, 221, 229, 0.3);
}

.charslabstat{
    font-size: 2cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.3);
}

.charslabline{
    height: 0;
    border-bottom: 0.7px solid rgba(219, 221, 229, 0.3);
    width: 30%;
    margin-left: 35%;
    margin-top: 7.2%;
}

.charoption{
    position: relative;
    top: 3.8cqh;
    left: 9.3%;
    width: 80%;
    font-size: 2cqw;
    padding-left: 11%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: justify;
    color: rgba(219, 221, 229, 0.3);
}

.charoption:hover{
    color: rgba(219, 221, 229, 0.5);
    background-color: rgba(219, 221, 229, 0.1);
    transition: 200ms;
}

/* Design of Character Buttons */

.characterbutton{
    all: unset;
    display: flex;
    justify-content:space-around;
    background-image: url("../image/Character_Button_Flat.png");
    background-size: 100% 100%;
    margin-top: 2.2%;
    padding-top: 1%;
    opacity: 0.75;
    width: 100%;
    aspect-ratio: 4/1;
}

.characterbutton:hover{
    opacity: 0.9;
    transition: 200ms;
}

.characterbuttoncolumn{
    display: flex;
    flex-direction: column;
    width: 98%;
}

.characterbuttonrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 2%;
}

.charactername{
    flex: 3.2;
    font-size: 3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealth{
    font-size: 2.6cqw;
    margin-top: 10%;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealthlabel{
    font-size: 0.9cqw;
    text-align: center;
    margin-top: 13%;
    margin-left: 4%;
    color: rgba(219, 221, 229, 0.9);
}

.characterhealthwrap{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 1%;
}

.characterstatwrap{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.characterstatlabel{
    font-size: 1.3cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    margin-top: -0.3cqw;
}

.characterstatvalue{
    font-size: 1.7cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    margin-top: -0.3cqw;
}

.charactersavecolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.charactersaverow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.charactersavebutton{
    font-size: 1.8cqw;
    text-align: center;
    color: rgba(219, 221, 229, 0.9);
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    opacity: 0.75;
    margin-top: 3.5%;
    width: 49%;
    aspect-ratio: 15/4;
    padding-top:3%;

}

.charactersavebutton:hover{
    opacity: 0.9;
    transition: 200ms;
}