/* Design of Visual Portraits */

.visualmain{
    margin: 1vw;
    height: 43.5vw;
    width: 100%;
    background-image: url("../image/Jungle_Thin_Frame.png");
    background-size: 100% 100%;
    transition: 200ms;
}

.visualside1{
    margin: 1.3vw;
    height: 11.5vw;
    width: 100%;
    background-image: url("../image/Bay_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
    transition: 200ms;
}

.visualside1:hover{
    opacity: 1;
    transition: 200ms;
}

.visualside2{
    margin: 1.3vw;
    height: 11.5vw;
    width: 100%;
    background-image: url("../image/Cavern_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
    transition: 200ms;
}

.visualside2:hover{
    opacity: 1;
    transition: 200ms;
}
.visualside3{
    margin: 1.3vw;
    height: 11.5vw;
    width: 100%;
    background-image: url("../image/Snow_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
    transition: 200ms;
}

.visualside3:hover{
    opacity: 1;
    transition: 200ms;
}

.visualside4{
    margin: 1.3vw;
    margin-top: 0.15vw;
    height: 11.5vw;
    width: 100%;
    background-image: url("../image/Jungle_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
    transition: 200ms;
}

.visualside4:hover{
    opacity: 1;
    transition: 200ms;
}

/* Design of Visual Control Buttons */

.visualcontrolbutton{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2.6vw;
    color: rgba(219, 221, 229, 0.9);
    opacity: 0.85;
    height: 4.8vw;
    width: 20vw;
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
    transition: 200ms;
}

.visualcontrolbutton:hover{
    opacity: 1;
    transition: 200ms;
}