/* Design of Visual Portraits */

.visualmain{
    margin: 1cqw;
    height: 43.5cqw;
    width: 100%;
    background-image: url("../image/Jungle_Thin_Frame.png");
    background-size: 100% 100%;
}

.visualside1{
    margin: 1.3cqw;
    height: 11.5cqw;
    width: 100%;
    background-image: url("../image/Bay_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.visualside1:hover{
    opacity: 1;
    transition: 200ms;
}

.visualside2{
    margin: 1.3cqw;
    height: 11.5cqw;
    width: 100%;
    background-image: url("../image/Cavern_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.visualside2:hover{
    opacity: 1;
    transition: 200ms;
}
.visualside3{
    margin: 1.3cqw;
    height: 11.5cqw;
    width: 100%;
    background-image: url("../image/Snow_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.visualside3:hover{
    opacity: 1;
    transition: 200ms;
}

.visualside4{
    margin: 1.3cqw;
    margin-top: 0.15cqw;
    height: 11.5cqw;
    width: 100%;
    background-image: url("../image/Jungle_Frame.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.visualside4:hover{
    opacity: 1;
    transition: 200ms;
}

/* Design of Visual Control Buttons */

.visualcontrolbutton{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2.3cqw;
    color: rgba(219, 221, 229, 0.9);
    opacity: 0.85;
    height: 4.2cqw;
    width: 16cqw;
    background-image: url("../image/Character_Button_Round.png");
    background-size: 100% 100%;
}

.visualcontrolbutton:hover{
    opacity: 1;
    transition: 200ms;
}